<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >
    <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/demo-2-820993.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Expense App
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/expense-list" routerLinkActive="active">Expense List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/expense-create" routerLinkActive="active">Create Expense</a>
      </li>
    </ul>
  </div>
</nav>
