<div class="row">
  <div class="col-md-6">
    <div class="card mt-5 bg-light rounded shadow" style="width: 300px">
      <img
        class="card-img-top"
        [src]="img"
        alt="Card image"
        style="width: 100%"
      />
      <div class="card-body">
        <h4 class="card-title text-success">Expense Name : {{expenseDetail?.title}}</h4>
        <h5 class="card-title">Amount Spent :{{expenseDetail?.amount | currency:'INR'}}</h5>
        <h6 class="card-text">
          <b>Created On :{{expenseDetail?.date | date}}</b>
        </h6>
      </div>
    </div>
  </div>
</div>

