<div class="row justify-content-center">
  <div class="bg-light col-md-6 my-4 rounded shadow">
    <form class="my-3" #form ="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <label >ID:</label>
        <input type="text" class="form-control" placeholder="Enter Id" name="id" required ngModel #id="ngModel" pattern="^[0-9]+$" autocomplete="off">
        <span *ngIf ="id.invalid && (id.dirty || id.touched)">
          <p *ngIf="id.errors?.required">Id is required.</p>
          <p *ngIf="id.errors?.pattern">Id must be a number.</p>
        </span>
      </div>
      <div class="form-group">
        <label >Expense Title:</label>
        <input type="text" class="form-control" placeholder="Enter title" name="title" required ngModel #name="ngModel" autocomplete="off">
        <span *ngIf ="name.invalid && (name.dirty || name.touched)">
          <p *ngIf="name.errors?.required">Title is required.</p>
        </span>
      </div>
      <div class="form-group">
        <label >Expense Amount:</label>
        <input type="text" class="form-control" placeholder="Enter amount" name="amount" required ngModel #amount="ngModel" pattern="^[0-9]+$" autocomplete="off">
        <span *ngIf ="amount.invalid && (amount.dirty || amount.touched)">
          <p *ngIf="amount.errors?.required">Amount is required.</p>
          <p *ngIf="amount.errors?.pattern">Amount must be a number.</p>
        </span>
      </div>
      <div class="form-group">
        <label >Expense Date:</label>
        <input type="date" class="form-control" placeholder="Enter expense date" name="date" required ngModel #date="ngModel" autocomplete="off">
        <span *ngIf ="date.invalid && (date.dirty || date.touched)">
          <p *ngIf="date.errors?.required">date is required.</p>
        </span>
      </div>
      <button type="submit" class="btn btn-primary my-4" [disabled]="form.invalid" >{{isEditable?'Update':'Submit'}}</button>
    </form>
    <div *ngIf="message"class="alert alert-success  my-3 text-center">
      <strong>{{message}}</strong>
    </div>
  </div>
</div>

